.bibliography {
  button,input{
    border: 4;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 3px;
  }
  .pdf{
    color:#0c0958;
  }
  .code{
    color: #3b9a9c;
  }
  .bestpaper{
    color: #1cd119;
  }
}