---
---

<div class="text-justify">{{reference}}</div> 
 
{% if entry.pdf %}
    <a href="{{ entry.pdf | absolute_url }}"><input class="pdf" type="button" value="pdf" /></a>
{% endif %}
 
{% if entry.code %}
    <a href="{{ entry.code | absolute_url }}"><input class="code" type="button" value="code" /></a>
{% endif %}

{% if entry.bestpaper %}
    <a href="{{ entry.bestpaper | absolute_url }}"><input class="bestpaper" type="button" value="best paper award" /></a>
{% endif %}

<div id="{{entry.key}}-bib" style="display: none;">
  <pre>{{entry.bibtex}}</pre>
</div>